---
import BaseLayout from '@layouts/baselayout';
import Article from '@components/article';
import authorData from '@data/authors.json';
import { getAllPosts } from '@lib/posts.js';

export async function getStaticPaths() {
  const allPosts = await Promise.all(await getAllPosts());
  let allAuthorsUnique = [...new Set(allPosts.map((p) => p.author))];
  return allAuthorsUnique.map((author) => ({
    params: {
      author,
    },
    props: {
      allPosts,
    },
  }));
}

const allPosts = await Promise.all(await getAllPosts());
const posts = allPosts
  .filter((post) => post.author === Astro.params.author)
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
const author = authorData[posts[0].author];

const title = `Author - ${author?.name}`;
const desc = `Author page for ${author?.name}`;
---

<BaseLayout title={title} description={desc} image={author.image} post={false}>
  <div class="grid place-items-center">
        <img
      class="w-28 h-28 rounded-3xl outline outline-current"
      src={author.image}
      alt={`${author.name}'s profile picture`}
    />
    <h1 class="text-4xl mt-3 leading-headline text-center mb-1">
      Posts by {author.name}
    </h1>
    <p class="mx-3 md:max-w-xl mt-4 text-center leading-tight text-md text-neutral-300 mb-3">{author?.longdesc}</p>
  </div>
  <div class="container md:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 gap-y-5 mt-10">
      {posts.map((post) => <Article post={post} />)}
    </div>
  </div>
</BaseLayout>
