---
import BaseLayout from './baselayout.astro';
import RelatedArticles from '../relatedArticles.astro';
import { dateFilter } from '../../lib/dateFilter.js';
import authorData from '../../data/authors.json';
import Highlight from '../utilities/highlight.astro';

const post = Astro.props;
const frontmatter = post.frontmatter;
const author = authorData[frontmatter.author];

import '/src/style/post.css';
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.desc}
  image={frontmatter.img}
>
  <div
    class="h-80 rounded-2xl mb-10 text-white flex relative w-full bg-cover bg-center justify-center items-center dark:border-white dark:border-4"
    style={`background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('${frontmatter.img}')`}
  >
    <div class="items-center">
      <h1
        class="text-center mx-3 md:mx-0 text-4xl md:text-5xl font-medium uppercase leading-headline max-w-max"
      >
        <span class="md:hidden block"
          >{frontmatter.mobiletitle
            ? frontmatter.mobiletitle
            : frontmatter.title}
        </span><span class="hidden md:block">{frontmatter.title}</span>
      </h1>
      <p
        class="absolute sm:relative invisible sm:visible text-lg text-center mt-1"
      >
        <a
          class="hover:text-blue-500 transition-colors duration-200"
          href={`/author/${author.name}`}
        >
          Written by {author.name}
        </a>on {dateFilter(frontmatter.date)}
      </p>

      <p
        class="relative sm:absolute visible sm:invisible text-lg text-center mt-3"
      >
        {dateFilter(frontmatter.date)}
        <a
          class="hover:text-blue-500 transition-colors duration-200 font-semibold block -mt-1"
          href={`/author/${author.name}`}
          >By {author.name}
        </a>
      </p>
      <!-- <ul>
        {frontmatter.tags.map((tag) =>
        <li><a href={`/tags/${tag}`}
            class='hover:text-blue-500 transition-colors duration-200 mx-2 text-sm font-medium'>#{tag}</a>
        </li>)}
      </ul> -->
    </div>
  </div>

  <section class="flex flex-col">
    <div class="container">
      <article class="prose dark:prose-invert !max-w-full">
        <slot />
      </article>
    </div>
    <hr class="my-10 border-neutral-600" />
    <!-- <h2 class="text-3xl mb-4 font-medium leading-headline">
      About the author:
    </h2> -->
    <div
      class="w-64 sm:w-72 md:w-full flex flex-col items-center bg-neutral-200 dark:bg-neutral-900 rounded-2xl md:flex-row md:max-w-xl mb-10"
    >
      <img
        class="object-cover w-fit aspect-square sm:h-56 md:h-36 md:w-36 md:mr-1 rounded-t-2xl md:rounded-t-none md:rounded-l-2xl"
        src={author.image}
        alt={`${author.name}'s profile image'`}
      />
      <div class="flex flex-col justify-between leading-normal">
        <h5
          class="text-neutral-900 dark:text-neutral-100 text-4xl font-medium ml-4 mt-1"
        >
          <a href={`/author/${author.name}`}
            ><Highlight color={author.color}>{author.name}</Highlight>
          </a>
        </h5>
        <p
          class="text-neutral-700 dark:text-neutral-200 text-sm md:text-md m-4 mt-0"
        >
          {author?.desc}
        </p>
      </div>
    </div>
  </section>

  <!-- A comments system powered by GitHub Discussions: https://giscus.app -->
  <!-- <h2 class="text-3xl mb-4 font-medium leading-headline mt-10">
    Leave a comment:
  </h2> -->
  <script
    src="https://giscus.app/client.js"
    data-repo="MorrisMotel/morrismotel-site"
    data-repo-id="R_kgDOHzpuiQ"
    data-category="Comments"
    data-category-id="DIC_kwDOHzpuic4CQwyH"
    data-mapping="title"
    data-strict="1"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="https://morrismotel.pages.dev/stylesheets/giscus.css"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  >

  </script>

  <div class="mt-12">
    <h2 class="text-3xl mb-2 font-medium leading-headline">
      Related Articles:
    </h2>
    <RelatedArticles {post} />
  </div>
</BaseLayout>
