---
import BaseLayout from '@layouts/baselayout';
import Article from '@components/article';
import ListPost from '@components/listpost';
import { getAllPosts } from '@lib/posts.js';
const posts = await Promise.all(await getAllPosts());

const dateSorted = posts.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf(),
);

const featuredSort = dateSorted.sort(
  (a, b) => Number(b.featured || false) - Number(a.featured || false),
);

const allTags = [...new Set(posts.flatMap(({ tags }) => tags))];
const featuredPost = featuredSort[0];
---

<BaseLayout>
  <div
    class="md:h-72 rounded-2xl mb-10 text-white flex relative w-full bg-cover bg-center justify-center items-center dark:border-white dark:border-4"
    style={`background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('${featuredPost.img}');
    background-repeat: no-repeat; background-position: center center; background-size: cover;`}
  >
    <div class="text-center text-neutral-content mt-5 md:mt-0 -mb-2 md:mb-0">
      <h1
        class="mx-3 md:mx-0 mb-3 text-4xl font-bold uppercase leading-headline text-white"
      >
        <a href={`/posts/${featuredPost.slug}`}>{featuredPost.title}</a>
      </h1>
      <p
        class="text-center leading-description md:leading-normal mb-3 md:max-w-lg md:mx-auto mx-3"
      >
        {featuredPost.desc}
      </p>
      <h5 class="mb-4 uppercase">Featured Article</h5>
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg text-sm px-3 py-2 mb-8 md:mb-0"
        ><a href={`/posts/${featuredPost.slug}`}>Read</a>
      </button>
    </div>
  </div>
  <div class="mb-10">
    <h2 class="text-3xl mb-2 font-medium">Latest Articles:</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-10">
      {featuredSort.slice(1, 5).map((p) => <Article post={p} />)}
    </div>
  </div>
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-10 mt-5">
      {allTags.map((tag) => (
        <div>
          <header class="border-b border-current mb-3">
            <a
              href={`/tags/${tag}`}
              class="hover:text-blue-600 dark:hover:text-blue-500 transition-colors duration-200 text-xl font-medium"
            >
              <h2 class="inline mr-4 font-bold">#{tag}</h2>
              <p class="inline text-sm">
                {posts.filter((post) => post.tags.includes(tag)).length}
                {posts.filter((post) => post.tags.includes(tag)).length <= 1
                  ? 'article'
                  : 'articles'}
              </p>
            </a>
          </header>
          <ul>
            {posts
              .filter((post) => post.tags.includes(tag))
              .sort((a, b) => a.title.localeCompare(b.title))
              .map((p) => (
                <ListPost post={p} />
              ))}
          </ul>
        </div>
      ))}
    </div>
  </section>
</BaseLayout>
