---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import { dateFilter } from '../lib/dateFilter.js';
const post = Astro.props.post;
const { slug, title, minutesRead } = post;
const slugUrl = '/posts/' + slug;
const imgUrl = '..' + (post?.img ?? '/images/fallback.png');
const date = dateFilter(post?.date);
---

<article class="group flex justify-between group md:flex-col-reverse">
  <div class="flex md:flex-col md:flex-1">
    <a
      href={slugUrl}
      class="flex-none w-24 h-24 md:h-auto md:w-auto aspect-none md:aspect-w-19 md:aspect-h-1"
    >
      <Image
        src={import(imgUrl)}
        alt={title}
        width={400}
        class="object-cover md:w-80 md:h-48 w-24 h-24 transition-opacity duration-300 rounded-xl drop-shadow group-hover:opacity-70"
      />
    </a>
    <div class="flex flex-col flex-1 ml-5 md:ml-0 mt-2">
      <a href={slugUrl} class="no-underline">
        <h3
          class="text-xl font-medium leading-description group-hover:text-blue-500 transition-colors duration-300 mr-2 sm:mr-0"
          set:html={title}
        >
        </h3>
      </a>
      <p class="flex flex-wrap items-center text-sm mt-1">
        {date} · <Icon class="w-4 mx-1" name="academic-book" />
        {minutesRead}
      </p>
    </div>
  </div>
</article>
