---
import { Icon } from 'astro-icon';
import { dateFilter } from '../lib/dateFilter.js';
const post = Astro.props.post;
const { slug, title, minutesRead } = post;
const slugUrl = '/posts/' + slug;
const imgUrl = post?.img ?? '/assets/fallback.png';
const date = dateFilter(post?.date);
---

<article class="group flex justify-between group md:flex-col-reverse">
  <div class="flex md:flex-col md:flex-1">
    <a
      href={slugUrl}
      class="flex-none w-24 h-24 md:h-auto md:w-auto aspect-none md:aspect-w-19 md:aspect-h-1"
    >
      <img
        class="object-cover md:w-80 md:h-48 w-24 h-24 transition-opacity duration-300 rounded-xl drop-shadow group-hover:opacity-70"
        alt={title}
        src={imgUrl}
      />
    </a>
    <div class="flex flex-col flex-1 ml-5 md:ml-0 mt-2">
      <a href={slugUrl} class="no-underline">
        <h3
          class="text-xl font-medium leading-description group-hover:text-blue-500 transition-colors duration-300 mr-2 sm:mr-0"
          set:html={title}
        >
        </h3>
      </a>
      <p class="md:flex md:flex-wrap items-center text-sm mt-1">
        {date}<span class="hidden md:block ml-2 mr-1">·</span><span
          class="flex"
        >
          <Icon name="heroicons-outline:book-open" class="w-4 md:ml-1 mr-1" />
          {minutesRead}
        </span>
      </p>
    </div>
  </div>
</article>
